.wrapper {
  max-width: 1280px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.site-header {
  min-height: 105px;
  -webkit-box-shadow: 0 4px 4px -2px rgba(92,94,102,0.15);
  box-shadow: 0 4px 4px -2px rgba(92,94,102,0.15);
  position: relative;
  z-index: 1;

  .wrapper {
    padding-top: 25px;
  }
}

ul {
  list-style: none;
  margin: 0;
}

p {
  margin: 0;
}

a, a:visited {
  color: #e9662b;

  &:hover {
    color: #e9972b;
    text-decoration: none;
  }
}

.site-title {
  width: 190px;
}

.siema {
  width: 70%;
  float: left;
}

.news {
  &-element {
    min-height: 500px;
    background-size: cover;
    position: relative;
  }

  &-box {
    background: rgba(0,0,0,0.7);
    border-radius: 5px;
    color: white;
    height: auto;
    left: 40px;
    position: absolute;
    top: 40px;
    width: 330px;
    padding: 10px 15px;
    padding-right: 50px;

    span {
      font-size: 10px;
      color: #81848d;
      position: relative;
      top: -9px;
    }

    h2 {
      line-height: 1;
      margin: 0;
    }

    a {
      text-align: right;
      font-size: 12px;
      display: inline-block;
      width: 100%;
    }
  }
}

.auctions-latest {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 500px;
  float: right;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 25px;
  box-sizing: border-box;

  &__auction, &__auction:visited {
    height: 82px;
    display: flex;
    flex-direction: row;
    color: #363A42;
    padding: 10px 0;
    &:hover {
      color: #363A42;
      text-decoration: none;
    }
  }

  img {
    display: block;
    height: auto;
    max-height: 120px;
    max-width: 120px;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  &__left {
    display: flex;
    width: 82px;
    position: relative;
    overflow: hidden;
  }

  &__right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 20px;
  }

  &__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.adv-wrapper {
  height: 160px;
  padding-top: 30px;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}

.news__latest {
  position: relative;
  img {
    width: 100%;
    height: auto;
    opacity: 0.8
  }

  &-text {
    background: white;
    bottom: -110px;
    left: 25%;
    padding: 40px;
    position: absolute;
    text-align: center;
  }
}
