.wrapper {
  max-width: 1280px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.site-header {
  min-height: 105px;
  -webkit-box-shadow: 0 4px 4px -2px rgba(92,94,102,0.15);
  box-shadow: 0 4px 4px -2px rgba(92,94,102,0.15);
  position: relative;
  z-index: 1;

  .wrapper {
    padding-top: 25px;
  }
}

a {
  color: #e9662b;
}

.site-title {
  width: 190px;
}

.siema {
  width: 70%;
}

.news {
  &-element {
    min-height: 300px;
    background-size: cover;
    position: relative;
  }

  &-box {
    background: rgba(0,0,0,0.7);
    border-radius: 5px;
    color: white;
    height: auto;
    left: 40px;
    position: absolute;
    top: 40px;
    width: 330px;
    padding: 10px 15px;
    padding-right: 50px;

    span {
      font-size: 10px;
      color: #81848d;
      position: relative;
      top: -9px;
    }

    h2 {
      line-height: 1;
      margin: 0;
    }

    a {
      text-align: right;
      font-size: 12px;
      display: inline-block;
      width: 100%;
    }
  }

}

.adv-wrapper {
  height: 160px;
  padding-top: 30px;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}
