.Landing .blog_posts {
  margin-top: 3rem;

  &-first_post {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: 255px;

    .blog_posts-image {
      display: flex;
      position: relative;
      width: 100%;
      overflow: hidden;
    }

    img {
      width: 100%;
      height: auto;
      position: absolute;
      top: -50%;
      z-index: 0;
    }

    .blog_posts-box {
      display: flex;
      background: #fff;
      width: 50%;
      height: 280px;
      position: absolute;
      bottom: -30%;
      z-index: 1;
      box-shadow: 0 3px 4px 0 rgba(0,0,0,0.12);
      padding: 20px 75px;
    }

    .blog_posts-more {
      margin-top: auto;
      margin-bottom: 20px;
      color: #363A42;
    }

    p {
      text-align: left;
    }

    h2 {
      font-size: 24px;
      padding: 20px 0 30px;
    }
  }

  &-promoted {

    &_title {
      color: $color-orange;
    }

    &_post {
      display: flex;
      width: 33.3%;
      padding: 0 15px;
      flex-direction: column;
    }

    .blog_posts-image {
      display: flex;
      width: 100%;
      height: 175px;
      position: relative;
      overflow: hidden;
    }

    .image {
      width: 100%;
      height: auto;
      position: absolute;
      top: -50%;
      z-index: 0;
      min-width: 500px;
    }

    .blog_posts-box {
      text-align: left;
    }
  }

  &-latest_posts {
    padding-right: 30px;
    flex: 1;
    border-right: 1px solid $color-grey-light;
  }

  &-latest_post {
    padding-bottom: 65px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &-aside {
    width: 355px;
    padding-left: 30px;
    border-left: 1px solid $color-grey-light;
  }
}

.Landing .latest_post {
  padding-bottom: 65px;

  &-image {
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      display: block;
      max-width: 120px;
      max-height: 120px;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  &-details {
    flex: 1;
    padding-left: 25px;
  }

  &-due {
    color: $color-manatee;
    font-size: $font-size-small;
    height: $font-size-small;
    margin-bottom: 15px;
  }

  &-header {
    margin-bottom: 15px;
  }

  &-location {
    margin-bottom: 15px;
  }

  &-description {
    padding-bottom: 15px;
    font-size: $font-size-normal -1;
    color: $color-manatee;
  }

  &-extra {

  }

  &-footer {
    justify-content: center;
    margin-top: auto;

    a {
      font-size: $font-size-normal - 1;
      color: $color-trout;
    }
  }
}

.Landing .aside_popular {
  &-post {
    padding-bottom: 20px;
  }

  &-image {
    position: relative;
    overflow: hidden;
    display: flex;

    img {
      position: absolute;
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      display: block;
      max-width: 120px;
      max-height: 120px;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  &-header {
    h2 {
      font-size: 14px;
    }
  }

  &-category {
    color: #8a8d99;
    font-size: 12px;
  }
}
