* {
  box-sizing: border-box;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #fbfcfd;
}

img {
  max-width: 100%;
}

.container {
  margin: auto;
  max-width: 1280px;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;

  &--no-padding {
    padding: 0;
  }

  &--adw {
    background-color: #F3F3F3;
  }

  &--search {
    justify-content: center;
    min-height: 200px
  }
}

.image {
  width: 25%;
  min-width: 250px;
  height: auto;
}
