.blog-post {
 display: flex;
 flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.column {
  padding-right: 20px;
  padding-left: 20px;
}
