<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      <div class="wrapper">
        <div class="siema">
          {%- for news in page.news -%}
            <div class="news-element" style="background-image: url({{page.news_image}})">
              <span>artinfo news</span>
              <p>Tekst</p>
            </div>
          {%- endfor -%}
        </div>

        {{ content }}
      </div>
    </main>


    <script>
      var Siemano = new Siema({
        duration: 200,
        draggable: false,
        multipleDrag: false,
        loop: true
      });
      setInterval(() => Siemano.next(), 1500)
    </script>
  </body>
</html>
