<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      {{ content }}
    </main>

  <script type="text/javascript">

    $.getJSON('https://artinfo.naturaily.eu/api/v1/finished/auctions_catalogs', function (data) {

      const items = data.data.slice(0, 4).map(function (item) {
        return item.attributes;
      });
      items.forEach(latestAuctions);
      function latestAuctions (auction, index) {
        const startDate = new Date(auction.pre_auction_exhibition_start).toLocaleDateString("en-UK");
        $("#latestAuctions").append(`
          <li>
            <a href="https://artinfo.naturaily.eu/wyniki-aukcji/${auction.slug}" target="_blank" class="auctions-latest__auction">
              <div class="auctions-latest__left">
                <img src="${auction.image_thumb_url}" alt="">
              </div>
              <div class="auctions-latest__right">
                <p>
                  ${startDate}
                </p>
                <h3>${auction.name}</h3>
              </div>
            </a>
          </li>
          `);
      }
    });
  </script>
  </body>
</html>
