---
layout: default
---
{%- if page.news-list -%}
  <div class="siema">
    {%- for news-object in page.news-list -%}
      {% assign news-field = news-object.news %}

      <div class="news-element" style="background-image: url({{news-field.background}})">
        <span>artinfo news</span>
        <p>{{news-field.title}}</p>
        <a href="{{news-field.link}}">{{news-field.link}}</a>
      </div>

    {%- endfor -%}
  </div>
  <script>
    var Siemano = new Siema({
      duration: 200,
      draggable: false,
      multipleDrag: false,
      loop: true
    });
    setInterval(() => Siemano.next(), 3500)
  </script>
{%- endif -%}

<div class="adv-wrapper">
  <a href="{{page.advert-first.advert-first-link}}" class="adv">
    <img src="{{page.advert-first.advert-first-image}}" alt="">
  </a>
</div>
